{% load django_auto_crud_tags %}
{% load static %}
<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img {% if user_image_url %}
              src="{{ user_image_url }}"
           {% else %}
              src="{% static 'django_auto_crud/images/user-160x160.jpg' %}"
           {% endif %}
           class="img-circle elevation-2"
           alt="User Image"
      >
    </div>
    <div class="info">
      <a href="#" class="d-block">{{ user_name | default:'User not logged in' }}</a>
    </div>
  </div>

  <!-- SidebarSearch Form -->
  <div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
      <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-sidebar">
          <i class="fas fa-search fa-fw"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      {% if sidebar_itens_template %}
        {% include sidebar_itens_template %}
      {% else %}
        {% sidebar_items request.path %}
      {% endif %}
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->